@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 0.8s ease forwards;
  }
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-100%); /* Start off-screen left */
    }
    100% {
      opacity: 1;
      transform: translateX(0); /* End at original position */
    }
  }